.allPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}
.contact {
  width: 40%;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}
.info {
  display: flex;
  align-self: stretch;
}
.message {
  width: 40%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
button {
  background-color: rgb(78, 87, 83);
  border-radius: 5px;
}
footer {
  height: 60px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(78, 87, 83);
}
