* {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
}
header {
  text-align: center;
  padding: 30px;
  margin: 30px;
  width: 90%;
}
.title {
  font-size: x-large;
justify-content: center;
}  
.cards {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
} 
ul {
  list-style: none;
}
.card {
  width: 100%;
  padding: 20px;
  margin: 30px;
  border: 2px rgba(128, 128, 128, 0.434) solid;
  border-top-color: orange;
}
p {
  font-size: large;
}
